<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
	<title>{% block title %}{% endblock %} IDMarinas User Bundle</title></head>
<body>
	{# read and display all flash messages #}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="flash-{{ label }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	
	{% block body %}{% endblock %}
</body>
</html>
